html, body {
  height: 100%;
  padding-top: 10px;
  background: #e6ecf1;
}

#app {
  height: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-top: 10px;
}

.card {
  margin: 10px 0;
}

header span {
  font-weight: 400;
  padding-right: 5px;
}