html, body {
  height: 100%;
  background: #f3f5f6;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  margin-top: 0;
  list-style: none;
}

li {
  margin: 20px 0;
  font-size: 20px;
}

p, button {
  margin: 2px 0;
}

input {
  padding: 5px;
}
