html, body {
  height: 100%;
  padding-top: 10px;
  background: #e6ecf1;
}

#app {
  height: 100%;
  max-width: 1000px;
  padding: 12px;
}

p {
  padding-bottom: 5px;
}

.component-button {
  display: inline-block;
  margin-top: 10px;
  background-color: #00d1b2;
  color: #FFF;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}
